<%- include('../includes/header'); %>

  <div class="container">

    
      <h1 class="text-center mb-3">Tempat Wisata Kalimantan Selatan</h1>    

    <article class="mt-4">

      <h3 class="mb-4">1. Pasar Terapung Lok Baintan</h3>
      <img class="img-fluid mx-auto d-block" src="https://indonesia.tripcanvas.co/id/wp-content/uploads/sites/2/2018/03/3-2-Lok-Baintan-By-zerie_.jpg      " alt="">
      <p class="mt-4" style="text-align: justify;">
        Pasar Terapung Lok Baintan adalah tempat wajib yang harus Anda kunjungi bila berkunjung ke Kalimantan Selatan. Di mana lagi Anda bisa menemukan pasar terapung yang begitu ikonik, dengan metode transaksi yang masih tradisional. 

        <br> <br> 
        Pedagang menjual barang dagangannya di atas perahu kecil, maka anda harus naik perahu klotok bisa menyewa dari orang sekitar. Sensai transaksi jual beli di atas perahu akan menjadi pengalaman tidak terlupakan dalam hidupmu. Namun tidak banyak juga penduduk lokal yang membeli belanjaan dari pinggiran sungai saja. Ada hal menarik dari budaya masyarakat asli banjar, mereka akan menyebutkan kata jual atau dijual dan pembeli akan menyahut tukar atau ditukar yang berarti membeli, itulah yang dinamakan akad.

        </p>

        <h5 class="mt-4 mb-4">Lokasi</h5>
        <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.2380379014!2d114.6606793!3d-3.2911148999999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2de42501af6088eb%3A0x2abb29084c289dca!2sLok%20Baintan%20Floating%20Market!5e0!3m2!1sen!2sid!4v1658552255371!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

      <h3 class="mt-5 mb-4">2. Danau Biru Pengaron</h3>
      <img class="img-fluid mx-auto d-block" src="https://indonesia.tripcanvas.co/id/wp-content/uploads/sites/2/2018/03/8-b-1-Pengaron-By-hermawan_ramadhanu.jpg
      " alt="">

      <p class="mt-4" style="text-align: justify;">
        Bekas tanah tambang atau penggalian batu bara bisa juga menjadi tempat yang keren. Salah satu contohnya adalah Danau Biru Pengaron. Terletak di Kabupaten Banjar, danau ini menampilkan keindahan yang alami. Airnya berwarna biru, dengan tebing-tebing hasil kerukan alat berat mengelilingi danau itu sendiri. <br><br> Perpaduan warna air yang biru dan tekstur tanah yang berwarna-warni memunculkan keindahan tersendiri. Belum lagi semburat warna hijau dari pepohonan dan rumput serta ilalang yang ada di puncak bukit, seakan menambah eksotisme tempat ini.
    </p>
    <h5 class="mt-4 mb-4">Lokasi</h5>
    <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.3482457325167!2d115.0736372!3d-3.2634308999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2de5d06b28b22401%3A0xbeff351c383a1060!2sDanau%20Biru%20Paring%20Tali!5e0!3m2!1sen!2sid!4v1658552297425!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


    </article>
    
  </div>

  <%- include('../includes/footer'); %>