<%- include('./includes/header'); %>

  <div class="container">
    <h2>
      <%= name %>
    </h2>

    <a href="/posts" class="btn btn-primary">Posts</a>
    <a href="/posts" class="btn btn-primary">Postss</a>
  </div>

  <%- include('./includes/footer'); %>