<%- include('./includes/header'); %>
  <div class="container">
    <h2 class="text-center">Kalimantan Selatan</h2>
    <img class="img-fluid mx-auto d-block mt-4" src="https://images.bisnis-cdn.com/posts/2019/11/04/1166548/pasar-apung-2.jpg" alt="">

    <p class="mt-4">Kalimantan Selatan (disingkat Kalsel) adalah salah satu provinsi yang ada di Indonesia yang terletak di pulau Kalimantan. 
      Ibu kota provinsi Kalimantan Selatan adalah kota Banjarbaru sejak 2022 menggantikan Kota Banjarmasin. 
      Provinsi ini merupakan rumah etnis Banjar dan memiliki luas 38.744,00 km² dengan populasi ditahun 2020 berjumlah 4.087.894 jiwa, dan wilayah administrasi terbagi menjadi 11 kabupaten dan 2 kota.</p>
    
    <p class="text-justify mt-4" style="text-align: justify;">DPRD Kalimantan Selatan dengan surat keputusan No. 2 Tahun 1989 tanggal 31 Mei 1989 menetapkan 14 Agustus 1950 sebagai Hari Jadi Provinsi Kalimantan Selatan. 
      Tanggal 14 Agustus 1950 melalui Peraturan Pemerintah RIS No. 21 Tahun 1950, merupakan tanggal dibentuknya Provinsi Kalimantan, setelah pembubaran Republik Indonesia Serikat (RIS),
       dengan gubernur Dokter Moerjani.</p>

    <p class="mt-4" style="text-align: justify;">
      Secara historis wilayah Kalimantan Selatan mula-mula dibentuk merupakan wilayah Karesidenan Kalimantan Selatan (dengan Residen Mohammad Hanafiah) di dalam Provinsi Kalimantan itu sendiri. Penduduk Kalimantan Selatan berjumlah 3.589.731 jiwa (2010).
    </p>

    <h3 class="text-center mt-5">Peta</h3>
    <img class="img-fluid mx-auto d-block mt-4 w-50" src="https://perkim.id/wp-content/uploads/2020/06/kalsel-scaled.jpg" alt="">

    <h3 class="text-center mt-5">Gedung Pemprov Kalsel</h3>
    <img class="img-fluid mx-auto d-block mt-4 w-50" src="https://www.mainmain.id/uploads/post/2022/02/25/Banjarbaru%20Resmi%20Jadi%20Ibu%20Kota%20Kalimantan%20Selatan,%20Gantikan%20Banjarmasin_mainmain.id.jpg" alt="">

    
    </div>

  <%- include('./includes/footer'); %>